body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #333;
}

h2 {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
}

a {
    color: #161e4c;
}

a:hover {
    color: #ad102d;
}

/* == Header == */
header {
    background-color: #161e4c;
    color: #ffffff;
    padding: 40px;
}

#title {
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
}

header h3 {
    font-size: 30px;
    line-height: 32px;
}

/* === Main === */
#main {
    padding: 50px 0;
}

#image {
    display: block;
}

#img-caption {
    font-size: 16px;
}

/* == Footer == */
footer {
    background-color: #161e4c;
    color: #ffffff;
    padding: 15px 0;
}

footer p {
    font-size: 16px;
}